.container {
  margin: 0 auto;
  padding: 0 4.5rem;
  max-width: 600px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-mobile-full {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-two-third {
  width: calc(200% / 3);
}

@media screen and (min-width: 750px) {
  .container {
    max-width: 800px;
  }

  .column-desktop-half {
    width: 50%;
  }

  .padding-right {
    padding-right: 2.5rem;
  }
}

.wrapper {
  margin: 0.5rem 0;
  height: 100px;
  width: 100%;
}

.product-img {
  width: 100%;
  object-fit: fill;
  height: 100px;
}

.no-padding {
  padding-left: 0;
}

/* code for footer */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  padding-top: 2rem;
}

/* code for footer  */

.product-info {
  padding-left: 0.5rem;
}
