.container {
  margin: 0 auto;
  padding: 0 4.5rem;
  max-width: 600px;
}

body {
  min-width: 680px;
}

.hero {
  height: inherit;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}

.save-submit-button,
.delete-button {
  width: 12rem;
  padding: 0.6rem 1rem;
}

.loading {
  color: official;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 15rem;
  top: 15rem;
}

.product-img-details {
  width: 20rem;
}

@media screen and (min-width: 700px) {
  .loading {
    left: 22rem;
    top: 15rem;
  }
}

@media screen and (min-width: 1100px) {
  .loading {
    left: 35rem;
    top: 15rem;
  }
}

@media screen and (min-width: 1600px) {
  .loading {
    left: 48rem;
    top: 22rem;
  }
}
