.no-padding {
  list-style: none;
}

body {
  background-color: #e5e5e5;
}

header {
  background-color: #9aaef3;
  color: white;
  font-family: "Berkshire Swash", cursive, sans-serif;
}

footer {
  background-color: #9aaef3;
}

.wrapper {
  background-color: white;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.253);
  border-radius: 2px;
}

.product-img {
  border-radius: 2px;
}

ul {
  line-height: 0.75rem;
}

h5 {
  font-family: Montserrat, sans-serif, serif;
  font-size: 0.7rem;
}

.white {
  color: white;
}

i {
  font-size: 1.3rem;
}

.description {
  line-height: 1.5rem;
}

.product-name-span,
.product-price-span,
p {
  font-weight: normal;
  font-family: Montserrat, sans-serif, serif;
}

.product-description-details {
  line-height: 1.5rem;
  font-family: Montserrat, sans-serif, serif;
}

h3 {
  font-family: Montserrat, sans-serif, serif;
  font-weight: 600;
}

.save-submit-button,
.delete-button {
  color: #9aaef3;
  background-color: white;
  font-family: Montserrat, sans-serif, serif;
  border-radius: 1rem;
  border-style: none;
}

li,
.save-submit-button,
.delete-button {
  cursor: pointer;
}

li:hover {
  transform: scale(1.1);
}

.loading div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.loading div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.loading div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.loading div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.loading div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.loading div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.loading div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.loading div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.loading div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.loading div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.loading div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.loading div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.loading div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
